extends layoutSign
block link
  link(rel='stylesheet' href="/stylesheets/signIn.css")
block content 
  .sign-up
    .container
      .form-signin
        form#form(action='/signUp' method='POST')
          h1.sign-up_h1 Sign Up
          .form-floating
            input#sign-up_userId.form-control(type='text' name="userID" placeholder='userID')
            label(for='floatingInput') 사번
            input(type="button", value="사번확인") 
          .form-floating
            input#sign-up_id.form-control(type='text' name="username" placeholder='ID')
            label(for='floatingInput') ID
            input(type="button", value="ID 중복확인") 
          .form-floating
            input#sign-up_pw.form-control(type='password' name="password" placeholder='Password')
            label(for='floatingPassword') Password
          .form-floating
            input#sign-up_pw_check.form-control(type='password' name="passwordCheck" placeholder='PasswordCheck')
            label(for='floatingPassword') PasswordCheck
          .form-floating
            input#sign-up_email.form-control(type='email' name="email" placeholder='email')
            label(for='floatingPassword') email
          .form-floating
            button#sign-up_btn.btn.btn-dark(type='submit') Sign Up
            input#sign-up_cancel.form-control.btn.btn-danger(type='button' name="cancel" value='Cancel')