extends layoutSign
block link
  link(rel='stylesheet' href="/stylesheets/signIn.css")
  script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
  script(src="/javascripts/signup.js") 
block content 
  .sign-up
    .container
      .form-signin
        form#form(action='/signUp' method='POST')
          h1.sign-up_h1 Sign Up
          .form-floating
            input#sign-up_userId.form-control(type='text' name="userID" placeholder='userID')
            label(for='floatingInput') 사번
            input#userId_check(type="button", value="사번확인") 
          .form-floating
            input#sign-up_id.form-control(type='text' name="username" placeholder='ID')
            label(for='floatingInput') ID
            input#webId_check(type="button", value="ID 중복확인") 
          .form-floating
            input#sign-up_pw.form-control(type='password' name="password" placeholder='Password')
            i#icon_pw.fas.fa-eye.fa-4x
            label(for='floatingPassword') Password
          .form-floating
            input#sign-up_pw_check.form-control(type='password' name="passwordCheck" placeholder='PasswordCheck')
            i#icon_pw_check.fas.fa-eye.fa-4x
            label(for='floatingPassword') PasswordCheck
          .form-floating
            button#sign-up_btn.btn.btn-dark(type='submit') Sign Up
            a(href='javascript:history.back();')#sign-up_cancel.btn.btn-danger Cancel