body {
  padding: 0;
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.logo_link {
  text-decoration: none;
  width: 100%;
  height: 100%;
}

/* wrapper grid 설정*/

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 250px 1fr;
}

/* nav bar */
.nav {
  grid-column: 1/3;
  background-color: rgb(0,71,133);
  display: grid;
  grid-template-columns: 180px 1fr 180px;
}

.nav-logo{
  padding: 0.5rem;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-logo h1{
  margin: 0;
  color: rgb(145,204,241);
  font-style: italic;
}
.nav-logo h4{
  margin: 0;
  color: rgb(253,253,233);
}
.nav-sub-menu{
  height: 100%;
}
.nav-sub-menu>ul, .subtitle>ul{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.nav-sub-menu>ul>li, .subtitle>ul>li{
  list-style: none;
}
.nav-sub-menu>ul>li>a {
  color: rgb(253,253,233);
}
.nav-sub-menu>ul>li>a, .subtitle>ul>li>a{
  min-width: 100px;
  min-height: 100px;
  font-size: large;
  text-decoration: none;
}

/* side bar */
aside.sidebar {
  padding: 10px;
}
section.namespace {
  padding-top: 20px;
  display: flex;
  justify-content:space-evenly;
  align-items:flex-start;
}

/* main contents */
section.main-contents {
  padding: 20px;
}

header.subtitle {
  margin-bottom: 10px;
}

/* SUB TITLE */
.subtitle {
  width: 300px;
}
.subtitle>ul>li>a {
  color: rgb(0,71,133);
}
