doctype html
head
  meta(charset='UTF-8')
  title
    | insert title here
  script(type='text/javascript').
    function ck(){
    var d = document.getElementById("userid").value;
    if ("admin"==d){
    document.getElementById("result").innerHTML="아이디가 중복되어 사용할 수 없습니다";
    } else {
    document.getElementById("result").innerHTML="<a href='' onclick='xx()'> 사용가능 </a>";
    }
    return false;
    }
    function xx(){
    var input = document.getElementById("userid").value;
    var w = opener;
    w.document.getElementById("m_id").value=input;
    window.close();
    }
| 사용 할 아이디를 입력하세요;
br
form(action='' onsubmit='return ck()')
  | 아이디;
  input#userid(type='text' name='userid')
  input(type='submit' value='아이디 검사')
#result
