extends join_basic_layout
  block content 
    dl
      div
        dt
          label 아이디
        form(action='')
          dd
            input#m_id(name='m_id' type='text' size='30' maxlength='10' placeholder='아이디')
            button(onclick='newIDCheckoverlap1()') 아이디를 다시 입력해주세요
      div
        dt
          label 비밀번호
        dd
          input#m_pass(name='m_pass' type='password' size='30' maxlegnth='10' placeholder='비밀번호')
      dt
        label 비밀번호
      dd
        input#m_pass_ch(name='m_pass_ch' type='password' size='30' maxlength='10' placeholder='비밀번호 확인')
      #pass_ch_notice.arrow_box(style='display:none;')
        ul
          li
            a.notice(style='color:red;') 비밀번호를 다시입력해주세요
        label 이메일
      dd
        input#m_email(name='m_email' type='text' placeholder='이메일')
      #email_notice.arrow_box(style='display:none;')
        ul
          li
            a.notice(style='color:red;') 이메일을 다시 작성해주세요
