doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title Join Basic
  style.
    #primary {
    float: left;
    width: 10%;
    height: 920px;
    background-color: white;
    border-radius: 10px 0px 0px 10px;
    }
    #content {
    float: left;
    width: 80%;
    height: 920px;
    background-color: white;
    }
    #form {
    width: 70%;
    height: 500px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    position:relative;
    }
    #secondary {
    float: left;
    width: 10%;
    height: 920px;
    background-color: white;
    border-radius: 0px 10px 10px 0px;
    }
    body {
    background-color: rgb(182, 182, 182);
    }
    .base {
    max-width: auto;
    height: 920px;
    margin: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    }
    h2 {
    margin-top: 150px;
    margin-left: 300px;
    width: 200px;
    }
    #next_btn {
    border: 0;
    position: absolute;
    top: 415px;
    right: 5px;
    background: none;
    }
    #p_head {
    height: 180px;
    width: 70%;
    }
    #head {
    text-align: center;
    }
    #next_text {
    font-size: 20px;
    font-weight: 900;
    position: absolute;
    top: 450px;
    right: 100px;
    width: 120px;
    height: 60px;
    }
    #index {
    position: absolute;
    top: 300px;
    }

    #profile_info {
    text-align:center;
    line-height: 40px;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    width: 80px;
    height: 40px;
    top: 300px
    }
    #basic_info {
    text-align:center;
    line-height: 40px;
    color: white;
    background-color: rgb(50,50,50);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 80px;
    height: 40px;
    margin-top: 20px
    }

.base
  #primary
    #index
      #basic_info 
      #profile_info 
  #content
    #head
 
      
    #form form
      block content
        text#next_text 
        button#next_btn
          img(src="/images/right_arrow.png", alt="")
  #secondary